* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

h1, h2 {
  color: #333333;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}
p {
  color: #333333;
}